<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.listeners.Testinfo"></listener>
		<listener class-name="com.listeners.AnnotationListerners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	  	<parameter name="Browser" value="Chrome"></parameter>
    <classes>
      <class name="com.test.Register"/>
      <class name="com.test.Login"/>
         <class name="com.test.MyAccount"/>
<class name="com.test.Searchproduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
